body {
    color: #141414;
    background-color: #ffffff;
    width: 800px;
    font-size: 18px;
    text-align: center;
    margin: auto;
  }

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
    font-weight: normal;
  }

h1 {
    font-size: 2em;
  }

h2 {
    font-size: 1.6em;
  }

p {
    font-family: "Verdana", "Arial", sans-serif;
    font-weight: normal;
    text-align: justify;
  }

a:link, a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

.menu a:link,
  a:visited {
    color: darkslategray;
  }

header {
  height: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header p {
  text-align: center;
  font-size: .8em;
}

.banner {
  margin-bottom: 0.5em;
}